<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
  
  <connectionStrings>
    <add name="Default"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-BL7HIA4\SQLEXPRESS;Initial Catalog=BibliotecaParcial2;Integrated Security=True"/>
  </connectionStrings>

</configuration>
-->